# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- list data science languages
- list data science libraries
- Create a table of Data Science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Matlab

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. TensorFlow
3. NLTK

|Data Science Tools|
--------------------
|Jupyter Notebook|
|Rstudio|
|VS Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Sara